/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://upload.wikimedia.org/wikipedia/commons/1/19/Bryant%E2%80%93Denny_Stadium%2C_Tuscaloosa_AL%2C_North_view_20160714_1.jpg);
    background-size: cover;
    background-position: center;
}
.wrapper {
    width: 420px;
    background: rgba(0, 0, 0, 0.5); 
    color: #fff;
    padding: 50px 40px; 
    border-radius: 10px; 
    border: 2px solid rgba(255, 255, 255, 0.5); 
    text-align: center; 
}
.wrapper .input-box {
    position: relative;
    margin: 30px 0;
}
.input-box input {
    width: calc(100% - 40px); 
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px; 
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
}
.input-box input::placeholder {
    color: #fff;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7); /* Adjust icon color */
/* }
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.wrapper .remember-forgot label {
    display: flex;
    align-items: center;
}
.wrapper .remember-forgot label input[type="checkbox"] {
    margin-right: 3px;
    cursor: pointer;
}
.remember-forgot a {
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 25px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .btn:hover {
    background: #e5e5e5;
}
.wrapper .link {
    margin-top: 20px; 
}
.link p {
    margin: 0; 
}
.link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.link p a:hover {
    text-decoration: underline;
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
    /* padding: 10px; Adjust padding as needed */
    /* border-radius: 10px; /* Optional: Add border radius for a rounded look */
/* } */ 

html,
body {
    height: 100%;
    font-family: coordinates-variable, sans-serif;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
}

.form-signup {
    max-width: 330px;
    padding: 1rem;
}

.form-signup .form-floating:focus-within {
    z-index: 2;
}

.form-floating {
    padding-bottom: 1%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}
